@import 'module/var';
@import 'module/mixins';

.contact{
    @include paddingTB($MainMarginTB+15px,$MainMarginTB+15px);
    @include paddingLR(60px,60px);
    background-color: #B8EDF8;
}
.NormIn{
    font-family: "BPG Nino Mkhedruli Book", sans-serif;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 35px;
    margin-top : 30px;
    border: 1.5px solid black;
    color: #666666;
}
.LargeIn{
    font-family: "BPG Nino Mkhedruli Book", sans-serif;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 111px;
    margin-top: 30px;
    border: 1.5px solid black;
    color: #666666;
    
}
.aft{
    align-items: center;
    padding-top: 15px;
    width: 50%;
    justify-content: space-between;
    display: flex;
    margin: 0 auto !important;
}
.btn{
    background-color: #7EC4CE;
    color: white;
}
.btn:hover{
    background-color: white;
    color: #7EC4CE;
}
.contP{
    font-size: 14px;
}
@media(max-width:835px){
    .contact{
    @include paddingLR($ResMargin,$ResMargin);
    }
    .contP{
        font-size: 12px;
    }
    .btn{
        width: 85px;
    }
}

@media (max-width:725px){
    .NormIn{
        width: 320px;
    }
    .LargeIn{
        width: 320px;
    }
    .aft{
        width: 320px;
    }
}
@media (max-width:380px){
    .NormIn{
        width: 280px;
    }
    .LargeIn{
        width: 280px;
    }
    .aft{
        width: 280px;
    }
    .btn{
        width: 82px;
    }
    .contP{
        font-size: 11px;
    }
}
