@import 'module/var';
@import 'module/mixins';


footer{
    @include paddingTB(25px,25px);
    @include paddingLR(25px,25px);
    justify-content: space-between;    
    display: flex;
    background-color: black;
    align-items: center;
}
.footerT{
    font-size: 14px;
    font-family: 'BPG Nino Mkhedruli Book';
    color: white;

}

@media (max-width:600px){
    .Header_logo{
        width: 135px;
    }
    footer{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 5px;
    }
}